/* 上下余白20px、中央寄せ */
#top{
  width: 800px;
  text-align: center;
  background-color:#dcc9f4;
  margin: 20px auto;
}
/* p横並び、中央寄せ、横幅親の20px */
.top-child{
  display: inline-block;
  width: 20%;
  text-align: center;
  background-color: #ffd9df;
}

/* 真ん中の図形 横800縦800*/
#middle {
  width: 800px;
  height: 800px;
  margin: 20px  0;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffd9df;
}
/* 子要素 横200縦200  親要素から上左100 */
#middle-child01 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
}
/*親要素から上左300 */
#middle-child02 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute;
  margin-top: 300px;
  margin-left: 300px;
}
/*親要素から上左500 */
#middle-child03 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute;
  margin-top: 500px;
  margin-left: 500px;
}

/* 一番下の図形横800縦300 */
#bottom {
  width: 800px;
  height: 300px;
  background-color: #87ceeb;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
/*子要素 横400  縦100 */
#bottom-child01{
  width: 400px;
  height: 100px;
  background-color:#e5dcf0;
}
/* 本来位置から左200px */
#bottom-child02{
  position: relative;
  width: 400px;
  height: 100px;
  background-color:#e5dcf0;
  position: relative;
  left: 200px;
}
/* 本来位置から左400px */
#bottom-child03{
  width: 400px;
  height: 100px;
  background-color:#e5dcf0;
  position: relative;
  left: 400px;
}